<%- include('./partials/header.ejs') %>
<!-- Inclui o cabeçalho -->
<%- include('./partials/sidebar.ejs') %>
<!-- Inclui a sidebar apenas uma vez -->

<div class="container-fluid">
  <div class="row min-vh-100">
    <!-- Conteúdo principal (Lado Direito) -->
    <div class="col-md-12 d-flex justify-content-center align-items-start pt-5">
      <div class="card rounded-4" style="width: 100%; max-width: 1100px">
        <div
          class="card-header bg-dark text-white font-weight-bold text-center"
        >
          LISTA DE ENTREGAS CADASTRADAS
        </div>
        <div class="card-body">
          <form method="get" action="/entregas/consultarentregas">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">Entregador</th>
                  <th scope="col">Veículo</th>
                  <th scope="col">Telefone</th>
                  <th scope="col">CPF</th>
                  <th scope="col">CNH</th>
                  <th scope="col">Empresa</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <% entregas.forEach(entrega => { %>
                <tr>
                  <td><%= entrega.id %></td>
                  <td><%= entrega.entregas_nome %></td>
                  <td class="placa">
                    <% if (entrega.veiculo) { %>
                    <span><%= entrega.veiculo.veiculos_placa %></span>
                    <% } else { %> Nenhum veículo associado <% } %>
                  </td>
                  <td class="telefone">
                    <% if (entrega.telefone) { %> <%= entrega.telefone.telefone
                    %> <% } else { %> Nenhum telefone registrado <% } %>
                  </td>
                  <td><%= entrega.documento.doc_cpf %></td>
                  <!-- Exibe CPF -->
                  <td><%= entrega.documento.doc_cnh %></td>
                  <!-- Exibe CNH -->
                  <td><%= entrega.documento.doc_empresa %></td>
                  <!-- Exibe Empresa -->
                  <td>
                    <!-- Botão para editar a entrega -->
                    <a
                      href="/entregas/patioentregas/<%= entrega.id %>"
                      class="btn btn-danger btn-sm"
                      >Registrar</a
                    >
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/rodape.ejs') %>
