<%- include('./partials/header.ejs') %> <%- include('./partials/sidebar.ejs') %>

<div class="container-fluid">
  <div class="row min-vh-100">
    <!-- Conteúdo principal (Lado Direito) -->
    <div class="col-md-12 d-flex justify-content-center align-items-start pt-5">
      <div class="card rounded-4" style="width: 100%; max-width: 1150px">
        <div
          class="card-header bg-dark text-white font-weight-bold text-center"
        >
          PÁTIO
        </div>

        <!-- Contadores em linha -->
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <!-- Card para Bike -->
            <div class="alert alert-light border-dark w-25 text-center">
              <strong>Bicicletas</strong>
              <h4><%= contadorBike %></h4>
            </div>

            <!-- Card para Entregas -->
            <div class="alert alert-light border-dark w-25 text-center">
              <strong>Entregas</strong>
              <h4><%= contadorEntregas %></h4>
            </div>

            <!-- Card para Serviços -->
            <div class="alert alert-light border-dark w-25 text-center">
              <strong>Serviços</strong>
              <h4><%= contadorServicos %></h4>
            </div>
          </div>
        </div>

        <!-- Formulário de Pesquisa -->
        <div class="form-floating d-flex justify-content-center rounded-4">
          <form method="get" action="/patio/patio" class="d-flex">
            <input
              type="text"
              name="query"
              class="form-control-sm"
              placeholder="Consultar Patio..."
            />
            <button class="btn btn-success ms-1" type="submit">
              Consultar
            </button>
          </form>
        </div>

        <!-- Tabela de Resultados -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Entrada</th>
              <th>Nome</th>
              <th>Telefone</th>
              <th>Status</th>
              <th>Placa</th>
              <th>Empresa</th>
              <th>Loja</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <% if (patios && patios.length > 0) { %> <%
            patios.forEach(function(patio) { %> <% if (patio.entrega &&
            patio.entrega.status === "entregas") { %>
            <!-- Exibindo a tabela para entregas -->
            <tr>
              <td>
                <%= new Date(patio.patio_horaentrada).toLocaleString('pt-BR', {
                month: 'short', day: '2-digit', hour: '2-digit', minute:
                '2-digit' }) %>
              </td>
              <td><%= patio.entrega.entregas_nome.split(' ')[0] %></td>
              <td class="telefone"><%= patio.entrega.telefone.telefone %></td>
              <td><%= patio.entrega.status %></td>
              <td class="placa"><%= patio.entrega.veiculo.veiculos_placa %></td>
              <td><%= patio.entrega.documento.doc_empresa.split(' ')[0] %></td>
              <td><%= patio.loja.lojaNome.split(' ')[0] %></td>
              <td>
                <form
                  method="post"
                  action="/patio/patio/<%= patio.id %>"
                  class="d-inline-block"
                >
                  <button type="submit" class="btn btn-danger btn-sm">
                    Finalizar
                  </button>
                </form>
              </td>
            </tr>
            <% } else if (patio.servico && patio.servico.status === "servicos")
            { %>
            <!-- Exibindo a tabela para serviços -->
            <tr>
              <td>
                <%= new Date(patio.patio_horaentrada).toLocaleString('pt-BR', {
                month: 'short', day: '2-digit', hour: '2-digit', minute:
                '2-digit' }) %>
              </td>
              <td><%= patio.servico.servico_nome.split(' ')[0] %></td>
              <td class="telefone"><%= patio.servico.telefone.telefone %></td>
              <td><%= patio.servico.status %></td>
              <td class="placa"><%= patio.servico.veiculo.veiculos_placa %></td>
              <td><%= patio.servico.documento.doc_empresa.split(' ')[0] %></td>
              <td><%= patio.loja.lojaNome.split(' ')[0] %></td>
              <td>
                <form
                  method="post"
                  action="/patio/patio/<%= patio.id %>"
                  class="d-inline-block"
                >
                  <button type="submit" class="btn btn-danger btn-sm">
                    Finalizar
                  </button>
                </form>
              </td>
            </tr>
            <% } else if (patio.bicicletario && patio.bicicletario.status ===
            "bike") { %>
            <!-- Exibindo a tabela para bicicletas -->
            <tr>
              <td>
                <%= new Date(patio.patio_horaentrada).toLocaleString('pt-BR', {
                month: 'short', day: '2-digit', hour: '2-digit', minute:
                '2-digit' }) %>
              </td>
              <td><%= patio.bicicletario.bike_nome.split(' ')[0] %></td>
              <td class="telefone">
                <%= patio.bicicletario.telefone.telefone %>
              </td>
              <td><%= patio.bicicletario.status %></td>
              <td><%= patio.bicicletario.bike_cor %></td>
              <td>-</td>
              <td><%= patio.bicicletario.bike_loja %></td>
              <td>
                <form
                  method="post"
                  action="/patio/patio/<%= patio.id %>"
                  class="d-inline-block"
                >
                  <button type="submit" class="btn btn-danger btn-sm">
                    Finalizar
                  </button>
                </form>
              </td>
            </tr>
            <% } else if (patio.registro_chave && patio.registro_chave.chaves &&
            patio.registro_chave.chave.status === "Chaves") { %>
            <!-- Exibindo a tabela para bicicletas -->
            <tr>
              <td>
                <%= new Date(patio.patio_horaentrada).toLocaleString('pt-BR', {
                month: 'short', day: '2-digit', hour: '2-digit', minute:
                '2-digit' }) %>
              </td>
              <td><%= patio.registro_chave.rchave_nome.split(' ')[0] %></td>
              <td class="telefone">
                <%= patio.registro_chave.rchave_telefone ?
                patio.registro_chave.rchave_telefone : '-' %>
              </td>
              <td><%= patio.registro_chave.chave.status%></td>
              <td>-</td>
              <td>-</td>
              <td><%= patio.registro_chave.chave.chave_nome %></td>
              <td>
                <form
                  method="post"
                  action="/patio/patio/<%= patio.id %>"
                  class="d-inline-block"
                >
                  <button type="submit" class="btn btn-danger btn-sm">
                    Finalizar
                  </button>
                </form>
              </td>
            </tr>
            <% } %> <% }); %> <% } else { %>
            <tr>
              <td colspan="8" class="text-center">Nenhum dado encontrado.</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/rodape.ejs') %>
