<%- include('./partials/header.ejs') %>
<!-- Inclui o cabeçalho -->
<%- include('./partials/sidebar.ejs') %>
<!-- Inclui a sidebar -->

<div class="container-fluid">
  <div class="row min-vh-100">
    <div class="col-md-12 d-flex justify-content-center align-items-start pt-5">
      <div class="card rounded-4" style="width: 100%; max-width: 800px">
        <div
          class="card-header bg-dark text-white font-weight-bold text-center"
        >
          EDITAR SERVIÇO
        </div>
      
          <form
            method="POST"
            action="/patio/<%= servicos.id %>"
          >
            <div class="row gx-2 mb-2">
              <!-- Coluna para Nome do Prestador de Serviço e Telefone -->
              <div class="col-md-6 mb-2">
                <div class="form-floating">
                  <input
                    type="text"
                    name="servico_nome"
                    class="form-control"
                    id="servico_nome"
                    value="<%= servicos.servico_nome %>"
                    placeholder="Digite o nome do Prestador"
                    required
                    disabled
                  />
                  <label for="servico_nome">Prestador de Serviço</label>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="form-floating">
                  <input
                    type="text"
                    name="telefone"
                    class="form-control"
                    id="telefone"
                    value="<%= servicos.telefone.telefone %>"
                    placeholder="Digite o telefone"
                    required
                    maxlength="15"
                    disabled
                  />
                  <label for="telefone">Celular</label>
                </div>
              </div>
            </div>

            <div class="row gx-2 mb-2">
              <!-- Coluna para Placa e Modelo do Veículo -->
              <div class="col-md-6 mb-2">
                <div class="form-floating">
                  <input
                    type="text"
                    name="veiculos_placa"
                    class="form-control"
                    id="placa"
                    value="<%= servicos.veiculo.veiculos_placa %>"
                    placeholder="Placa do veículo"
                    required
                    maxlength="8"
                    disabled
                  />
                  <label for="veiculos_placa">Placa do Veículo</label>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="form-floating">
                  <input
                    type="text"
                    name="veiculos_modelo"
                    class="form-control"
                    id="veiculos_modelo"
                    value="<%= servicos.veiculo.veiculos_modelo %>"
                    placeholder="Modelo do veículo"
                    required
                    disabled
                  />
                  <label for="veiculos_modelo">Modelo do Veículo</label>
                </div>
              </div>
            </div>

            <div class="row gx-2 mb-2">
              <!-- Coluna para CNH e CPF -->
              <div class="col-md-6 mb-2">
                <div class="form-floating">
                  <input
                    type="text"
                    name="doc_cnh"
                    class="form-control"
                    id="doc_cnh"
                    value="<%= servicos.documento.doc_cnh %>"
                    placeholder="CNH"
                    required
                    maxlength="11"
                    disabled
                  />
                  <label for="doc_cnh">CNH</label>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="form-floating">
                  <input
                    type="text"
                    name="doc_cpf"
                    class="form-control"
                    id="cpf"
                    value="<%= servicos.documento.doc_cpf %>"
                    placeholder="CPF"
                    required
                    maxlength="14"
                    disabled
                  />
                  <label for="doc_cpf">CPF</label>
                </div>
              </div>
            </div>

            <div class="row gx-2 mb-2">
              <!-- Coluna para Empresa e Descrição -->
              <div class="col-md-6 mb-2">
                <div class="form-floating">
                  <input
                    type="text"
                    name="doc_empresa"
                    class="form-control"
                    id="doc_empresa"
                    value="<%= servicos.documento.doc_empresa %>"
                    placeholder="Empresa"
                    required
                    disabled
                  />
                  <label for="doc_empresa">Empresa</label>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="form-floating">
                  <input
                    type="text"
                    name="servico_descricao"
                    class="form-control"
                    id="servico_descricao"
                    value="<%= servicos.servico_descricao %>"
                    placeholder="Descrição"
                    required
                    disabled
                  />
                  <label for="servicos_descricao">Descrição</label>
                </div>
              </div>
            </div>
             <div id="lojas-container">
                <div class="d-flex align-items-center mb-3 loja">
                  <div class="col-md-6 mb-2">
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="lojaNome"
                        name="lojaNome"
                        required
                        placeholder="Nome da Loja"
                      />
                      <label for="loja">Loja</label>
                    </div>
                  </div>
              </div>
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-danger">Registrar</button>
                <a href="/servicos/servicoscadastro" class="btn btn-secondary"
                  >Cancelar</a
                >
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/rodape.ejs') %>